/* :root {
  --debug: 1px dashed red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: var(--debug); */
  /* outline-offset: -1px; */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(:checked) .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox {
  padding: 1px;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.content__details {
  block-size: 534px;
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 100%;
}

.content__video-card-description {
  font-size: 18px;
  margin-top: 5px;
  line-height: 16.2px;
  overflow: hidden;
  color: #fff;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  block-size: 103px;
  min-inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 6px 74px;
}

.search-form__submit-button {
align-self: flex-end;}
